<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio of Keiji Roemmich</title>
    <link rel="shortcut icon" href="../Media/undercover-jun-takahashi (1).jpg" type="image/jfif">
    <script src="https://kit.fontawesome.com/381512a771.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/blog_style.css">
</head>
<header>
    <h1>
        This is a BlogPost by Keiji Roemmich
    </h1>
    <nav>
        <u1>
            <li><a href="../index.html">Home page</a> </li>
            <li><a href="./resume.html">My Resume</a></li>
            <li><a href="./fun_facts_page.html">Fun Facts about me!</a></li>
            <li><a href="./blog.html">My blog</a></li>
        </u1>
    </nav>
</header>
<body>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/iJ75fUbPa_8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>Above is a video of the Raf Simons Autumn / Winter collection, titled "Riot! Riot! Riot!" </h2>
    <p>Known as the peak of anti-fashion in the early 2000s, Raf Simons- a Belgian Fashion designer, released the Fall/ Winter collection in 2001, named “Riot! Riot! Riot!” and is seen as today to shape out the current archival fashion landscape. 
        The 2001-2002 collection is seen as Raf Simons return collection, after his hiatus of 3 years. The clothing pieces consist of ragged, industrial-influenced and hyper-stylized looks, 
        which Raf Simons had not been known for due to his previous works consisting of sleek, tightly-tailored silhouettes. 
        The collection walk was set in an eerie warehouse, with scaffolding stacked high in the center of the stage, 
        where models would appear from the scaffolding building. 
        The models would often be wearing non-conventional multiple layers, with cruelly oversized jackets and pants, from horizontally striped sweaters to the military style parkas and jackets with Marxist slogans plastered on a variety of under-shirts. 
        The collection is said to epitomize the youth rebellion, which envisioned the youth as a radical spectrum of counter-culture.
         From this unique outlook on fashion and fashion walks, this show was titled, and described as “Terrorist chic” by the media covering the collection. 
        Due to the collection receiving high publicity in current days, the pieces offered by the designer have now reached a status of extremely prices, 
        with the camo-plastered Patched Bomber jacket now reaching 47000 USD, and being worn by various celebrities such as Drake, and Kanye West. </p>
        <p id="question">How do you like this collection? Leave a comment down below!</p>

        <section id="app">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="comment">
                <p v-for="items in item" v-text="items"></p>
                  </div>
                  </div>
                  </div>
              <div class="row">
                <div class="col-6">
              <textarea type="text" class="input" placeholder="Click Here To Leave A Comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                  <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                </div>
              </div>
            </div>
          </section>
</body>
<footer>
    &copy; 2021 Keiji Roemmich <br><i class="far fa-envelope"></i>: keiji0627@live.com <br>
    <a href="https://www.instagram.com/imkeichan/"><i class="fab fa-instagram fa-lg"></i></a>

</footer>
</html>